body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-pan {
  width: 6rem;
  height: 6rem;
  border-radius: 20px;
}

.light-greenish-blue {
  background-color: #55efc4
}

.faded-poster {
  background-color: #81ecec;
}

.green-darner-tail {
  background-color: #74b9ff;
}

.shy-moment {
  background-color: #a29bfe;
}
.mint-leaf {
  background-color: #00b894;
}
.robins-egg-blue {
  background-color: #00cec9;
}
.electron-blue {
  background-color: #0984e3;
}

.exodus-fruit {
  background-color: #6c5ce7;
}

.sour-lemon {
  background-color: #ffeaa7;
}

.first-date {
  background-color: #fab1a0;
}

.pink-glamour {
  background-color: #ff7675;
}

.pico-8-pink {
  background-color: #fd79a8;
}
.bright-yarrow {
  background-color: #fdcb6e;
}

.orangeville {
  background-color: #e17055;
}

.chi-gong {
  background-color: #d63031;
}

.prunus-avium {
  background-color: #e84393;
}

.dracula-orchid {
  background-color: #2d3436;
}

.recording-backgroung {
  background-color: #3E3D3D;
}

.drum-machine-background {
  background-color: #171717;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #f9f9f9;
  margin: 10px auto 10px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 1px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 70px;
  height: 40px;
  background: #f9f9f9;
  position: absolute;
  right: 3px;
  top: -20px;
  box-shadow: inset 30px 0 0 0 #3E3D3D;
}

#recording-button {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.not-recording {
	background-color: darkred;
}

.recording {
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}